{% load staticfiles %} {% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %}</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.0.custom.min.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/ui.multiselect.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		
		<script src="{% static 'js/jquery-1.9.0.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery-ui-1.10.0.custom.min.js' %}" type="text/javascript"></script>
		
		<script src="{% static 'js/ui.multiselect.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery.maskedinput.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery.grid.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/jquery.grid.adicionais.js' %}" type="text/javascript"></script>
		
		<script src="{% static 'js/pydesk-general.js' %}" type="text/javascript"></script>

		{% block header %}{% endblock %}
	</head>
	{% autoescape on %}
	<body>
		<div class="geral">
			<div class="cabecalho"></div>
			
			{% if user.is_authenticated %}
				<div class="conteudo-menu">
					<ul class="menu">
						<li class="ativo"><a href="{% url 'dashboard.views.home' %}">{% trans "Dashboards" %}</a></li>
	
						<li><a href="">{% trans "Services" %} <i class="icone-branco ui-icon-triangle-1-s"></i></a> 
							<ul class="submenu">
								<li><a href="servico_solicitar.htm">{% trans "Request Services" %}</a></li>
								<li><a href="servico_consultar.htm">{% trans "Consult Services" %}</a></li>
							</ul>
						</li>
	
						<li><a href="">{% trans "Configuration" %} <i class="icone-branco ui-icon-triangle-1-s"></i></a>
							<ul class="submenu">
								<li><a href="{% url 'configuration.views.enterprise_list' %}">{% trans "Manage Enterprises" %}</a></li>	
								<li><a href="configuracao_consultar-usuario.htm">{% trans "Manage Users" %}</a></li>
								<li><a href="configuracao_consultar-item_de_configuracao.htm">{% trans "Manage Configuration Items(CI's)" %}</a></li>
								<li><a href="">{% trans "Manage Contracts" %}</a></li>
								<li><a href="">{% trans "Manage Sla's" %}</a></li>
								<li><a href="">{% trans "Manage Post's" %}</a></li>
							</ul>
						</li>
	
						<li><a href="">{% trans "Financial" %} <i class="icone-branco ui-icon-triangle-1-s"></i></a>
							<ul class="submenu">
								<li><a href="">{% trans "Closing" %}</a></li>
							</ul>
						</li>
						<li><a href="{% url 'accounts.views.logout' %}">{% trans "Logout" %}</a></li>
					</ul>
				</div>
			{% endif %}

			{% block body %}{% endblock %}

		</div>
	</body>
	{% endautoescape %}
</html>