{% extends "template.html" %}
{% load staticfiles %} {% load i18n %} {% load messages %}
 
{% block title%}{% trans "User" %} | Pydesk{% endblock %}
 
{% block header %}
    <script src="{% static 'js/user/user_edit.js' %}" type="text/javascript"></script>
{% endblock %} 

{% block body %}
<div class="sumario">
    <div>
        <h1>{% trans "Manager User" %}</h1>
    </div>
</div>

<div class="margin-sumario"></div>

<div class="menu-vertical">
    <ul>
        <li class="ativo"><a href="{% url 'user_edit' %}?id={{ id }}">Usuário</a></li>
        <li><a href="{% url 'user_enterprise_edit' %}?id={{ id }}">Empresas</a></li>
        <li><a href="{% url 'user_equip_edit' %}?id={{ id }}">Equipes</a></li>
        <li><a href="{% url 'user_project_edit' %}?id={{ id }}">Projects</a></li>
        <!-- <li>Perfil</li> -->
        <!-- <li>Permissoes</li> -->
    </ul>
</div>

<div class="conteudo" style="margin-left:170px;">
    <form id="form_user" action="" method="post">
        {% csrf_token %}

        <div class="message">{% show_messages messages %}</div>
        
        <div class="linha">
            <fieldset>
                <legend>{% trans "User Data" %}</legend>

                {% for field in form_user %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="campo">
                            <label for="id_{{ field.name }}">
                                {{ field.label }} 
                                {% if field.field.required %}<span class="obrigatorio">*</span>{% endif %}
                            </label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>

        <div class="btn-toolbar" style="padding:10px 0px;margin:0px 10px;">
            <div class="btn-group">
                <a class="btn-1" id="btn_salve" href="javascript:;">{% trans "Save" %}</a><a class="btn-1" href="{% url 'user_list' %}#grid=1">{% trans "Back" %}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}