{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Enterprise{% endblock %}

{% block header %}
	<script src="{% static 'js/enterprise/enterprise.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="sumario">
	<div>
		<h1>Cadastrar Empresa</h1>
	</div>
</div>

<div class="margin-sumario"></div>

<div class="conteudo">
	<form>
	<div class="linha">
																					
		<fieldset>
			<legend>Dados da Empresa</legend>							
				<div class="campo">
					<label>
						Razão Social <span class="obrigatorio">*</span>
					</label>
					<input type="text" name="campo1" id="campo1" value="" size="50" />
				</div>
				
				<div class="campo">
					<label >
						Nome Fantasia <span class="obrigatorio">*</span>
					</label>
					<input type="text" name="campo1" id="campo1" value="" size="50" />
				</div>
				
				<div class="campo">
					<label>
						CNPJ
					</label>
					<input type="text" name="campo1" id="campo1" value="" size="20" />							
				</div>
				
				<div class="campo">
					<label>
						Inscrição Estadual
					</label>
					<input type="text" name="campo1" id="campo1" value="" size="20" />
				</div>
				
				<div class="campo">
					<label>
						Endereço
					</label>
					<input type="text" name="campo1" id="campo1" value="" size="80" />
				</div>
				
				<div class="campo">
					<label>
						Observação
					</label>
					<textarea cols="90" rows="4"></textarea>
				</div>						
		</fieldset>
											
		<div class="campo">							
			<div class="btn-group">
				<a class="btn-1 btn-azul" href="">Salvar</a>
			</div>
			
			<div class="btn-group">
				<a class="btn-1 btn-azul" href="javascript:history.go(-1);">Voltar</a>
			</div>
		</div>
	</div>
	</form>				
</div>
{% endblock %}