{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block header %}
	<script src="{% static 'js/home/home.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="principal">

	<div class="sumario">					
		<div>						
			<div style="float:right;">
				<label for="auto"><input type="checkbox" value="" id="auto" name="auto" checked="checked"/>Auto Atualização</label>
			</div>
	
			<h1>Serviços por situação</h1>
		</div>
	
	
	</div>
	<div class="margin-sumario"></div>
	
	
	<div class="menu-vertical">
		<ul>
			<li class="ativo">Serviços por situação</li>					
			<li>Serviços por usuário</li>
			<li>Status sla</li>
			<li>Painel de atendimento</li>
		</ul>
	</div>
	
	<div class="conteudo" style="margin-left:170px;">
	
		<div class="linha">
	
			<div class="coluna_5">
				<div style="padding:10px;">
					<h2><a href="servico_consultar.htm">Abertos (25)</a></h2><hr/>
					<table class="servicos" width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-1</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Hoje 08:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-3</a><br/><span class="resumo"> Maquina reiniciando a cada dez minutos.</span></td>
								<td width="30%" align="right">Hoje 09:25 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-10</a><br/><span class="resumo"> Problemas ao relacionar ic e usuario.</span></td>
								<td width="30%" align="right">Ontem 11:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-50</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Ontem 13:32 PM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-15</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">01/01/2013 09:10 AM</td>
							</tr>
						</tbody>	
					</table>
				</div>
	
				<div style="padding:10px;">
					<h2><a href="servico_consultar.htm">Pendentes (40)</a></h2><hr/>
					<table class="servicos" width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-1</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Hoje 08:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-3</a><br/><span class="resumo"> Maquina reiniciando a cada dez minutos.</span></td>
								<td width="30%" align="right">Hoje 09:25 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-10</a><br/><span class="resumo"> Problemas ao relacionar ic e usuario.</span></td>
								<td width="30%" align="right">Ontem 11:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-50</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Ontem 13:32 PM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-15</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">01/01/2013 09:10 AM</td>
							</tr>
						</tbody>	
					</table>
				</div>
	
				<div style="padding:10px;">
					<h2><a href="servico_consultar.htm">Finalizados (3.568)</a></h2><hr/>
					<table class="servicos" width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-1</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Hoje 08:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-3</a><br/><span class="resumo"> Maquina reiniciando a cada dez minutos.</span></td>
								<td width="30%" align="right">Hoje 09:25 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-10</a><br/><span class="resumo"> Problemas ao relacionar ic e usuario.</span></td>
								<td width="30%" align="right">Ontem 11:10 AM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-50</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">Ontem 13:32 PM</td>
							</tr>										
	
							<tr>
								<td width="70%"><a href="servico_detalhar.htm">FRAMESOFT-15</a><br/><span class="resumo"> Erro ao cadastrar usuarios.</span></td>
								<td width="30%" align="right">01/01/2013 09:10 AM</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
	
			<div class="coluna_5">						
				<div style="padding:10px;">
						<h2>Ultimas Atividades</h2><hr/>
						<table class="atividades" width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> alterou a situação de "Em Atendimento" para "Atendido" em <a href="">FRAMESOFT-100</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> O problema foi resolvido, é necessario atualizar o sistema.</span></td>
									<td width="30%" align="right">Hoje 08:10 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> alterou a situação de "Aberto" para "Em Atendimento" em <a href="">FRAMESOFT-20</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> O problema foi resolvido, é necessario atualizar o sistema.</span></td>
									<td width="30%" align="right">Hoje 09:20 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> requisitou informações em <a href="">FRAMESOFT-346</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> favor anexar um print do erro.</span></td>
									<td width="30%" align="right">Hoje 09:34 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> reclassificou o tipo de "Serviço Padrão" para "Incidente" em <a href="">FRAMESOFT-102</a> (Erro ao cadastrar usuarios). <br></td>
									<td width="30%" align="right">Hoje 10:11 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a>  reclassificou o tipo de "Incidente" para "Mudança" em <a href="">FRAMESOFT-203</a> (Erro ao cadastrar usuarios). <br></td>
									<td width="30%" align="right">Ontem 15:10 PM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a>  reclassificou o tipo de "Sugestão" para "Reclamação" em em <a href="">FRAMESOFT-276</a> (Erro ao cadastrar usuarios). <br></td>
									<td width="30%" align="right">Ontem 16:45 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> alterou o status de "Atendido" para "Finaliado" em <a href="">FRAMESOFT-973</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> O problema foi resolvido, é necessario atualizar o sistema.</span></td>
									<td width="30%" align="right">01/01/2013 08:01 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> alterou o status de "Atendido" para "Aguardando Informação" em <a href="">FRAMESOFT-136</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> O problema foi resolvido, é necessario atualizar o sistema.</span></td>
									<td width="30%" align="right">01/01/2013 11:50 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> rejeitou o serviço <a href="">FRAMESOFT-324</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> Favor atribuir para a equipe do suporte de infra.</span></td>
									<td width="30%" align="right">02/01/2013 01:10 AM</td>
								</tr>
	
								<tr>
									<td width="70%"><a href="servico_detalhar.htm">Avner Felipe Gonçalves</a> alterou o status de "Em Atendimento" para "Atendido" em <a href="">FRAMESOFT-765</a> (Erro ao cadastrar usuarios). <br><span class="resumo"> O problema foi resolvido, é necessario atualizar o sistema.</span></td>
									<td width="30%" align="right">02/01/2013 18:10 PM</td>
								</tr>
	
								<tr>
									<td colspan="2"><a href="servico_detalhar.htm">Mostrar Mais...</a></td>
								</tr>
							<tbody>	
						</table>
					</div>
				</div>
			</div>
	
		</div>
	
	</div>
{% endblock %}