{% extends "template.html" %}
{% load staticfiles %} {% load i18n %}

{% block title %}{% trans "Enterprise"%} | Pydesk{% endblock %}

{% block header %}
	<script src="{% static 'js/enterprise/enterprise_list.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="sumario">
	<div>
		<div style="float:right;">
			<a class="btn-3" href="{% url 'configuration.views.enterprise_add' %}">{% trans "Register"%} <i class="icone-preto ui-icon-plus"></i></a>
		</div>
		<h1>{% trans "Manange Enterprises"%}</h1>
	</div>
</div>

<div class="margin-sumario"></div>

<div class="conteudo"> 
	
	<div class="message"></div>
	
	<div class="btn-toolbar" style="padding:10px 0px;margin:0px 10px;border-bottom:1px solid #EEEEEE;">
		<div class="btn-group">
			<a class="btn-1" id="btn_active" href="javascript:;">{% trans "Active"%}</a><a class="btn-1" id="btn_inative" href="javascript:;">{% trans "Inative"%}</a>
		</div>
		
		<div style="float:right;">
			<input type="text" value="" id="find_enterprise"/>
			<select id="status_enterprise">
				<option value="1">Ativo</option>
				<option value="0">Inativo</option>
				<option value="-1">Todos</option>
			</select>
		</div>	
	</div>
	
	
	<form id="form_list_enterprise" action="" method="post">
		<input type="hidden" value="" name="hdd_is_active" id="hdd_is_active">
		{% csrf_token %}
		<div class="grid-consulta" id="grid_list_enterprise"></div>
	</form>
</div>
{% endblock %}